<div class="container text-center">
  <h1>Mean APP</h1>
  <p>This is a Basic login logout app created in MEAN, as to serve as quick-start app for other application.</p>
    <div>
      <a class="btn btn-danger" [routerLink]="['/register']" role="button">Register</a>
      <a class="btn btn-success" [routerLink]="['/login']" role="button">Login</a>
    </div>
</div>
  <hr>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Login</h2>
      <p>User can login in to the app and authentication is protected by hashing and Web tokens.</p>
    </div>
    <div class="col-md-4">
      <h2>Register</h2>
      <p>User can register here with minimum fields and can then login.</p>
    </div>
    <div class="col-md-4">
      <h2>Profile</h2>
      <p>There is a profile page which user can only see when he is logged in and same for dashboard page.</p>
    </div>
  </div>
  <hr>

</div>
